doctype html
html(lang="de")
    head
        link(rel="stylesheet", href="#{url.static}/dist/main.css")

        script(type="text/javascript").
            var jScriptster = jScriptster || {};
            jScriptster.railway = jScriptster.railway || {};
            jScriptster.railway.url = {
                elevators: '#{url.elevators}',
                stations: '#{url.stations}/:stationId',
                static: '#{url.static}',
                apiStationSearch: '#{url.apiStationSearch}'
            };

    body
        h1 ACTIVE: #{numberCurrentlyInactiveElevators} INACTIVE: #{numberCurrentlyActiveElevators}

        div#app
        script(src="#{url.static}/dist/bundle.js", type="text/javascript")