h1 Hello Jade!


p #{numberCurrentlyInactiveElevators}
p #{numberCurrentlyActiveElevators}
p #{url.elevators}
p #{url.stations}
p #{url.static}
p #{url.apiStationSearch}


div#myApp
script(src="#{url.static}/dest/bundle.js", type="text/javascript")