html
    head
        link(rel="stylesheet", href="#{url.static}/dist/main.css")

    body

        h1 Hello Jade!


        p #{numberCurrentlyInactiveElevators}
        p #{numberCurrentlyActiveElevators}
        p #{url.elevators}
        p #{url.stations}
        p #{url.static}
        p #{url.apiStationSearch}


        div#app
        script(src="#{url.static}/dist/bundle.js", type="text/javascript")